<?xml version="1.0"?>
<!--
Copyright (c) 2018, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
    <param name="use_sim_time"          value="false" />
    <arg name="svo_file"              default="/home/hd/dataset/4_720_2358_15_outside.svo" /> <!-- <arg name="svo_file" default="path/to/svo/file.svo"> -->
    <!--<arg name="svo_file"              default="" /> &lt;!&ndash; <arg name="svo_file" default="path/to/svo/file.svo"> &ndash;&gt;-->

    <arg name="camera_model"         default="0" /> <!-- 0=ZED, 1=ZEDM-->
    <arg name="serial_number"        default="0" />
    <arg name="verbose"              default="true" />
    <arg name="resolution"           default="2" /> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
    <arg name="frame_rate"           default="15" />
    <!-- RESOLUTION_HD2K   -> 2208*1242, available framerates: 15 fps.
         RESOLUTION_HD1080 -> 1920*1080, available framerates: 15, 30 fps.
         RESOLUTION_HD720  -> 1280*720,  available framerates: 15, 30, 60 fps.
         RESOLUTION_VGA    -> 672*376,   available framerates: 15, 30, 60, 100 fps. -->

    <!-- Coordinate frame -->
    <!--<arg name="pose_frame"           default="map" />-->
    <arg name="cam_pose_frame"       default="cam/pose" />
    <arg name="odometry_frame"       default="odom" />

    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="svo_file"            value="$(arg svo_file)" />
            <arg name="pose_frame"          value="$(arg pose_frame)" />
            <arg name="odometry_frame"      value="$(arg odometry_frame)" />
            <arg name="camera_model"        value="$(arg camera_model)" />
            <arg name="serial_number"       default="$(arg serial_number)" /> 
            <arg name="resolution"          default="$(arg resolution)" />
            <arg name="frame_rate"          default="$(arg frame_rate)" />
            <arg name="verbose"             default="$(arg verbose)" />
        </include>
    </group>

    <!--<node pkg="ros_utils" type="pose_stamp_to_path" name="gps_path">-->
        <!--<remap from="pose" to="/zed/map" />-->
        <!--<remap from="path" to="/zed/path" />-->
    <!--</node>-->

    <!--<node pkg="rosbag" type="record" name="zed_record_cam" required="true" output="screen"-->
          <!--args="-o $(env HOME)/zed /zed/left/image_raw_color /zed/right/image_raw_color-->
          <!--/zed/left/image_rect_color /zed/right/image_rect_color-->
          <!--/zed/left/camera_info_raw-->
          <!--/zed/right/camera_info_raw-->
          <!--/zed/left/camera_info-->
    <!--/zed/right/camera_info" />-->

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_for_gt" output="screen" >
    <param name="/target_frame_name" value="map" />
    <param name="/source_frame_name" value="zed_camera_center" />
    <param name="/trajectory_update_rate" value="20.0" />
    <param name="/trajectory_publish_rate" value="20.0" />
    </node>
</launch>
